body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  background-image: url("..//images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  color: white;
  font-family: poppins;
}

footer {
  display: block;
  margin: 0 10%;

}

.title {
  font-weight: 700;
  font-size: xxx-large;
  max-width: 80%;
}

.subtitle {
  font-weight: 500;
  font-size: medium;
  max-width: 80%;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.anounce {
  background-color: #59429d;
  padding: 20px 53px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 6px 2px rgba(0,0,0,0.2);
}

fieldset {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 6px 2px rgba(0,0,0,0.2);
}

input {
  width: 94%;
  border-radius: 4px;
  margin: 0.4rem;
  padding: 12px 10px;
  border-style: solid;
}

input[type=submit] {
  width: 100%;
  border: none;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  font-size: medium;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  padding: 20px 60px;
}

.agreement {
  color: grey;
  font-size: x-small;
  font-weight: 400;
  margin: 10px 10px;
}

.terms {
  color: hsl(0, 100%, 74%);
}
/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
/* button:hover {
  background: #CCBBFF;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
} */
